@font-face {
  font-family: "hindi";
  src: url("http://ukutet.com/images/fonts/utsaah.eot");
  src: local("☺"),
    url("http://ukutet.com/images/fonts/utsaah.woff") format("woff"),
    url("http://ukutet.comcom/images/fonts/utsaah.ttf") format("truetype"),
    url("http://ukutet.com/images/fonts/utsaah.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
.hindi {
  font-family: "hindi";
}
body {
  font-size: 20px;
  font-family: "hindi";
}
b {
  padding-left: 5px;
}
.frmtable {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
.frmtable td,
.frmtable th {
  vertical-align: top;
}

@media print {
  body, html {
    margin: 0;
    padding: 0;
    width: 210mm;
    height: 297mm;
  }

  .printable-area {
    width: 210mm;
    height: 297mm;
    margin: 0;
    padding: 10mm;
    box-sizing: border-box;
  }

  @page {
    size: A4;
    margin: 0;
  }

  .no-print {
    display: none;
  }
}